africastalking==1.2.4
aiohttp==3.8.3
aiosignal==1.2.0
aniso8601==7.0.0
anyio==3.6.2
appdirs==1.4.4
APScheduler==3.9.1.post1
apturl==0.5.2
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
asttokens==2.0.5
async-generator==1.10
async-timeout==4.0.2
attrs==21.2.0
awscli==1.23.0
b64uuid==0.1
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
bleach==4.1.0
blinker==1.4
boto3==1.22.0
botocore==1.25.0
Brlapi==0.8.3
bs4==0.0.1
CacheControl==0.12.11
cachetools==5.0.0
cbebirr==0.0.11
certifi==2021.10.8
cffi==1.15.0
cfn-flip==1.3.0
chardet==3.0.4
charset-normalizer==2.0.9
click==8.1.2
cmarkgfm==0.8.0
colorama==0.4.4
command-not-found==0.3
configparser==5.2.0
contextlib2==21.6.0
contourpy==1.0.7
crayons==0.4.0
cryptography==36.0.0
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.2.18
debugpy==1.6.0
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
diff-match-patch==20200713
distlib==0.3.4
distro==1.7.0
distro-info===1.1build1
Django==3.1.7
django-admin-rangefilter==0.8.4
django-admin-tools==0.9.2
django-axes==5.32.0
django-bower==5.2.0
django-cors-headers==3.11.0
django-crontab==0.7.1
django-data-seeder==0.2.0
django-discover-runner==1.0
django-factory-generator==1.0.4
django-fernet-fields==0.6
django-filter==21.1
django-graphene-firebase-auth==0.0.17
django-graphql-auth==0.3.16
django-graphql-jwt==0.3.0
django-import-export==2.8.0
django-ipware==4.0.2
django-jsonfield==1.4.1
django-log-to-telegram==2020.1.23
django-nvd3==0.9.7
django-phone-field==1.8.1
django-qsstats-magic==1.1.0
django-restframework==0.0.1
django-role-permissions==3.1.1
django-s3-sqlite==0.0.5
django-s3-static==2020.12.3
django-soft-delete==0.9.21
django-softdelete==0.9.2
django-storages==1.12.3
django-tgbot==1.4.9.2
djangorestframework==3.13.1
djangorestframework-simplejwt==4.6.0
djcacheutils==3.0.0
docutils==0.15.2
duplicity==0.8.21
durationpy==0.5
ec2instanceconnectcli==1.0.2
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.8.3
fasteners==0.14.1
fastjsonschema==2.15.3
filelock==3.7.1
firebase-admin==5.2.0
fonttools==4.39.3
fpdf==1.7.2
frozenlist==1.3.1
future==0.18.2
getmac==0.8.3
google-api-core==2.7.2
google-api-python-client==2.45.0
google-auth==2.6.6
google-auth-httplib2==0.1.0
google-cloud-core==2.3.0
google-cloud-firestore==2.4.0
google-cloud-storage==2.3.0
google-crc32c==1.3.0
google-resumable-media==2.3.2
googleapis-common-protos==1.56.0
graphene==2.1.9
graphene-django==2.15.0
graphene-file-upload==1.3.0
graphql-client==0.3.0
graphql-core==2.3.2
graphql-relay==2.0.1
grpcio==1.44.0
grpcio-status==1.44.0
gunicorn==20.1.0
h11==0.12.0
hjson==3.0.2
html5lib==1.1
httpcore==0.14.7
httplib2==0.20.4
httpx==0.22.0
idna==2.8
importlib-metadata==4.6.4
ipykernel==6.15.0
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.7.1
jedi==0.18.1
jeepney==0.7.1
Jinja2==3.1.1
jmespath==1.0.0
jsonschema==4.6.0
jupyter==1.0.0
jupyter-client==7.3.4
jupyter-console==6.4.4
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
kappa==0.6.0
keyring==23.5.0
kiwisolver==1.4.4
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
llfuse==1.3.8
lml==0.1.0
lockfile==0.12.2
louis==3.20.0
lxml==4.8.0
macaroonbakery==1.3.1
Mako==1.1.3
MarkupPy==1.14
MarkupSafe==2.1.1
matplotlib==3.7.1
matplotlib-inline==0.1.3
mistune==0.8.4
monotonic==1.6
more-itertools==8.10.0
msgpack==1.0.3
multidict==6.0.2
mysqlclient==1.4.6
nbclient==0.6.4
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
netaddr==0.8.0
netifaces==0.11.0
notebook==6.4.12
numpy==1.21.5
oauthlib==3.2.0
odfpy==1.4.1
olefile==0.46
opencv-python==4.7.0.72
openpyxl==3.0.9
outcome==1.1.0
packaging==21.3
pandocfilters==1.5.0
paramiko==2.9.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
pkginfo==1.8.2
placebo==0.9.0
platformdirs==2.5.2
pluralizer==1.2.0
prometheus-client==0.14.1
promise==2.3
prompt-toolkit==3.0.29
proto-plus==1.20.3
protobuf==3.20.1
psutil==5.9.1
psycopg==3.1.3
psycopg-binary==3.1.3
psycopg2==2.9.3
psycopg2-binary==2.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.1
pycparser==2.21
pycryptodome==3.14.1
pycups==2.0.1
pydbus==0.6.0
pydub==0.25.1
pyexcel-io==0.6.6
pyexcel-xls==0.7.0
Pygments==2.11.2
PyGObject==3.42.1
PyJWT==1.7.1
pymacaroons==0.13.0
PyMySQL==1.0.2
PyNaCl==1.5.0
pyOpenSSL==21.0.0
pyparsing==3.0.8
pypng==0.20220715.0
PyQRCode==1.2.1
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyRFC3339==1.1
pyrsistent==0.18.1
PySocks==1.7.1
python-apt==2.4.0+ubuntu1
python-dateutil==2.8.2
python-debian===0.1.43ubuntu1
python-memcached==1.59
python-nvd3==0.14.2
python-slugify==1.1.4
python-telegram-bot==20.0a0
python-xlib==0.29
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pyxdg==0.27
PyYAML==5.4.1
pyzmq==23.2.0
qtconsole==5.3.1
QtPy==2.1.0
readme-renderer==34.0
reportlab==3.6.9
requests==2.31.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
roman==3.3
rsa==4.7.2
Rx==1.6.1
s3transfer==0.5.2
schedule==1.1.0
schema==0.7.5
scour==0.38.2
SecretStorage==3.3.1
selenium==4.1.0
Send2Trash==1.8.0
shortuuid==1.0.8
singledispatch==3.7.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
SpeechRecognition==3.10.0
sqlparse==0.4.2
stack-data==0.3.0
systemd-python==234
tablib==3.2.1
tabulate==0.8.9
telebirr==0.1.5
temp==2020.7.2
terminado==0.15.0
text-unidecode==1.3
tinycss2==1.1.1
toml==0.10.2
tornado==6.1
tqdm==4.64.0
traitlets==5.3.0
trio==0.19.0
trio-websocket==0.9.2
troposphere==4.0.1
typing_extensions==4.4.0
tzdata==2022.1
tzlocal==4.2
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36.1
unattended-upgrades==0.1
Unidecode==1.3.4
uritemplate==4.1.1
urllib3==1.25.11
usb-creator==0.3.7
vboxapi==1.0
virtualenv==20.14.1
wadllib==1.3.6
wcwidth==0.2.5
webdriver-manager==3.5.2
webdrivermanager==0.10.0
webencodings==0.5.1
websockets==10.3
Werkzeug==2.1.1
widgetsnbextension==3.6.1
wsgi-request-logger==0.4.6
wsproto==1.0.0
xdg==5
xkit==0.0.0
xlrd==2.0.1
xlwt==1.3.0
xmltodict==0.13.0
xvfbwrapper==0.2.9
yarl==1.8.1
zappa==0.54.1
zipp==1.0.0
